

.logo 
{
display: inline-block;
/* position: absolute; */
/* top: 5px; */
vertical-align: middle;
/* left: 290px; */
/* height: 50px; */
/* height: 50px; */
width: 50px;
margin: 2px 0 0 0;
z-index: 111;
/* background-attachment: fixed; */
padding: 0;
border: 0 none;
}

header, a {
display: inline-block;
text-decoration: none;
color: white;
/* border-width: 3px; */
height: 50px;
margin: 0;
padding: 0;
border: 0 none;
}

a:-webkit-any-link {
color: -webkit-link;
text-decoration: underline;
cursor: auto;
}

.logo {
display: inline-block;
/* position: absolute; */
/* top: 5px; */
vertical-align: middle;
/* left: 290px; */
/* height: 50px; */
/* height: 50px; */
width: 50px;
margin: 2px 0 0 0;
z-index: 111;
/* background-attachment: fixed; */
padding: 0;
border: 0 none;
}

header, a {
display: inline-block;
text-decoration: none;
color: white;
/* border-width: 3px; */
height: 50px;
margin: 0;
padding: 0;
border: 0 none;
}
a:-webkit-any-link {
color: -webkit-link;
text-decoration: underline;
cursor: auto;
}

li {
display: list-item;
text-align: -webkit-match-parent;
}

Style Attribute {
margin: 0;
padding: 0;
display: block;
text-align: center;
margin-top: 5px;
}
ul, menu, dir {
display: block;
list-style-type: disc;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 40px;
}

#menu {
font-family: Calibri;
/* display: inline-block; */
width: 100%;
position: absolute;
/* top: 0px; */
/* left: 0px; */
height: 60px;
list-style-type: none;
position: fixed;
/* border-width: 3px; */
background-color: grey;
z-index: 10;
}

header, a {
display: inline-block;
text-decoration: none;
color: white;
/* border-width: 3px; */
height: 50px;
margin: 0;
padding: 0;
border: 0 none;
} 









element.style {
}
#lienmenu, li {
/* margin-left: 5%; */
margin: 0;
/* width: 10px; */
padding: 0;
/* vertical-align: middle; */
}
#lienmenu {
/* position: absolute; */
/* top: 20px; */
/* left: 290px; */
width: 100%;
}
user agent stylesheetdiv {
display: block;
}
Inherited from ul
Style Attribute {
margin: 0;
padding: 0;
display: block;
text-align: center;
margin-top: 5px;
}
user agent stylesheetul, menu, dir {
display: block;
list-style-type: disc;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 40px;
}
Inherited from nav#menu
#menu {
font-family: Calibri;
/* display: inline-block; */
width: 100%;
position: absolute;
/* top: 0px; */
/* left: 0px; */
height: 60px;
list-style-type: none;
position: fixed;
/* border-width: 3px; */
background-color: grey;
z-index: 10;
}
Inherited from header
header, a {
display: inline-block;
text-decoration: none;
color: white;
/* border-width: 3px; */
height: 50px;
margin: 0;
padding: 0;
border: 0 none;
}