.content {
    margin-top: 7%;
    margin-left: auto;
    margin-right: auto;
}

.signup_form {
    position: relative;
    color: #fff;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    text-shadow: 1px 1px 0px #283744;
    font-size: 11pt;
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: bold;
}

.foot {
    position: relative;
    color: #fff;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    text-shadow: 1px 1px 0px #283744;
    font-size: 11pt;
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: bold;
}

.foot a {
    text-decoration: none;
    color: #fff;
}

#btn_envoyer {
    background-color: #17b09c;
    border: 1px solid transparent;
    border-bottom: 3px solid #569997;
    color: #fff;
    display: inline-block;
    width: 150px;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    text-shadow: 1px 1px 0px #283744;
    font-size: 11pt;
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: bold;
}
@media only screen and (max-width : 1400px) {
    .content {
        margin-top: 150px;
        margin-left: auto;
        margin-right: auto;
    }

@media only screen and (max-width : 500px) {
    .content {
        margin-top: 150px;
        margin-left: auto;
        margin-right: auto;
    }