.admin_container {
    width: 100%;
}

.user_info {
    width: 50%;
    position: absolute;
}
.user_cadre {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 500px;

    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 1px 3px;
}
.logement_info {
    margin-left: 50%;
    width: 50%;
    position: absolute;
}
.add_equipement_container {
    width: 100%;
    position: relative;
    margin-top: 50px;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    font-family: century,arial,sans-serif;
    font-size: 30px;
    padding: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.add_equipement_top {

}
.add_equipement_bottom {
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    font-family: century,arial,sans-serif;
    font-size: 25px;
    padding: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
    padding-bottom: 13px;
}
.add_equipement_bottom_field {
    width: 580px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-top: 10px;
}