body
{

background-color: rgb(248,248,248) ;
}
.border_radius {
    position: absolute;
    margin-top: 35px;
}
#bloc_page
{
    width: 1200px;
    margin: auto;
    padding-top: 60px;
}

#InlineFrame1
{
    position:absolute;
    margin-left: 40px;
}

#bloc0
{
    width: 1200px;
}
#bloc0 a {
    text-decoration: none;
    color: white;
}

#bloc1
{
    width: 1200px;
}

#équipements1
{
    margin-left: 25px;
    position:relative;
}

#équipements2
{
    position:relative;
    margin-left: -10px;
}

#équipements1,#équipements2
{
    display:inline-block;
    padding-bottom: 10px;
}


.ok
{
    width: 17px;
}


#bloc2
{
    margin-top: 5px;
    width: 1200px;
    
    border-radius: 5px;
    padding-bottom: 10px;
      background-color: white;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .5) 0 1px 3px;


}

#description1
{

    line-height:18px;
   
    border-radius: 5px;
    text-align: justify;
    margin-top: 10px;
    position: absolute;
    width: 570px;
    height: 325px;
    margin-left: 10px;
    padding: 10px;
    color: black;
    font-size: 0.9em;
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
    background-color: rgba(250, 250, 250, 0.2);

}

#banniere_image,#description1
{
    display: inline-block;
}

#banniere_image
{
    position: relative;
   
    margin-top: 10px;
    margin-bottom: 10px;
    height: 480px;
    border-radius: 5px;
    width: 100%;
}

#banniere_description
{
    position: absolute;
    bottom: 0;
    border-radius: 0px 0px 5px 5px;
    width: 99.5%;
    height: 33px;
    padding-top: 15px;
    padding-left: 4px;
    background-image: linear-gradient(rgba(0,0,0,0.01), rgba(0,0,0,0.05), rgba(0,0,0,0.1),rgba(0,0,0,0.3), rgba(0,0,0,0.5),rgba(0,0,0,0.6), rgba(0,0,0,0.8));
    color: white;
    font-size: 0.8em;
    

}




#équipements
{
    margin-left: 40px;
    font-size: 1.5em;
    color: black;
    text-decoration: bold;
    text-decoration: underline;
}

.Titre
{

    
    height: 150px;
    line-height:18px;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    padding-top: 30px;
  
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
    background-color: rgba(250, 250, 250, 0.1);



}

.Photo

{

    width: 100%;
    height: 198px;

}

.membres
{
    border-right: 2px ;
    line-height: 22px;
    padding-left: 40px;
    border-color: black;
   
}

li
{
    
    display: inline;
    border-right: 2px ;
    line-height: 22px;
    


}

#Titre1
{

   font-size: 35px;
   font-family: century, arial,sans-serif;
   

}

.Localisation

{
    font-size: 16px;
    font-style: oblique;
    font-family: ;
}


#Description
{
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;



}


.bouton
{
    color:#ecf0f1;
    background-color: #16a085;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 10px;
    padding-left: 10px;

}

.bouton1

{

    text-align: center;
margin-top: 20px;
margin-left: 800px;
height: 350px;
 
    border-radius: 5px;
    text-align: center;
    
  
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    background-color: white;
   
    width: 400px;
}


.commentaire
{
    width: 750px;
    height: 330px;
    float: left;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    background-color: rgba(0,0,0,0.01);
    padding-top: 20px;
    padding-left: 20px;

   


}

.Norma

{
    display: inline;
    
    margin-top: 35px;
    border-radius:65px;
    width:120px;
    height:120px;
}

.Norma2

{
    font-style: oblique;
    font-family: century;
    font-size:14px;
}

.Norma1

{
    font-family: century;
    font-size: 20px;
}

.logo

{
width: 35px;
display: inline;

}

#bloc3
{
    margin-top: 5px;
    width: 1200px;
    
    border-radius: 5px;
    padding-bottom: 0px;
      background-color: white;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .5) 0 1px 3px;


}
