@media screen and (max-width: 1680px) {
    .demandes_logement {
        margin-top: 120px;
    }

    .owner_logement {
        margin-top: 120px;
    }

    .en_cours {
        margin-top: 120px;
    }
}



.voeux {
    font-size: 25px;
    font-family: century,arial,sans-serif;
    text-align: center;
    margin-bottom: 30px;
}
@media screen and (min-width: 1681px) {
    .demandes_logement {
        margin-top: 120px;
        margin-left: 33%;
        width: 33%;
        position: absolute;
    }

    .owner_logement {
        margin-top: 120px;
        width: 33%;
        position: absolute;
    }

    .en_cours {
        margin-top: 120px;
        margin-left: 66%;
        width: 33%;
        position: absolute;
    }
}
.img_gauche {
    width: 300px;
    height: 200px;
    position: absolute;
}

.cadre_ask
{
    border-width:1px;
    border-color:black;
    background-color: white;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .5) 0 1px 3px;
    height: 200px;
    position: relative;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    overflow: hidden;
}
.cadre_ask_want
{
    border-width:1px;
    border-color:black;
    background-color: white;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .5) 0 1px 3px;
    height: 200px;
    position: relative;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    overflow: hidden;
}
.user_want
{
    border-width:1px;
    border-color:black;
    background-color: white;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .5) 0 1px 3px;
    height: 130px;
    position: relative;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    overflow: hidden;
}

.img_member_ask {
    border-radius:65px;
    width:120px;
    height:120px;
    position: absolute;
    margin-top: 5px;
    margin-left: 80px;
}
.list_info_user {
    margin-left: 325px;
    padding-top: 5px;
}
.choice1 {
    width: 90%;
    padding-top: 3px;
    margin-bottom: 2px;
    padding-bottom: 7px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #AD1F1F;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .5) 0 1px 3px;
}

.choice1 a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-family: century,arial,sans-serif;
}
.choice {
    width: 90%;
    padding-top: 3px;
    padding-bottom: 7px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #39ad66;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .5) 0 1px 3px;
}

.choice a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-family: century,arial,sans-serif;
}

.end {
    width: 80%;
    padding-top: 3px;
    padding-bottom: 7px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #f57c00;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .5) 0 1px 3px;
}

.end a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-family: century,arial,sans-serif;
}