/*.forum_messagerie {
    background-image: url("../images_diverses/texture_forum_white.jpg");
}*/

.forum_title {
    padding-top: 80px;
    text-align: center;
    font-size: 35px;
    color: #34495E;
    font-weight: 300;
    height: 90px;
    width: 100%;
    background-color: #FFF;
    letter-spacing: 1px;
    border-bottom: 1px solid #BDC3C7;
    font-family: century,arial,sans-serif;
}


.tableau_forum_accueil0 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: 70%;
    margin-bottom: 100px;
}
.tableau_forum_accueil {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: 70%;
    margin-bottom: 100px;
}
.tableau_site {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    width: 70%;
}
.tableau_topic {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 3%;
    width: 70%;
}
.new_topic {
    padding-top: 150px;
}

.img_member {
    border-radius:65px;
    width:120px;
    height:120px;
}

.answer1 {
    position: relative;
    color: #1c1a19;
    text-align: center;
    text-decoration: none;
    /* line-height: 40px; */
    font-size: 11pt;
    font-family: century, arial,sans-serif;
    padding-top: 20px;
}
.post_message {
    width: 600px;
    height: 200px;
}
.cadre_answer_post {
    position: relative;
    width: 70%;
    height: 343px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 150px;

    border-width: 1px;
    border-style: inset;
    border-color: black;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .5) 0 1px 3px;
}

.cadre_topic_post {
    position: relative;
    width: 70%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;

    border-width: 1px;
    border-style: inset;
    border-color: black;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .5) 0 1px 3px;
}

.objet_field {
    width: 30%;
}

.message_field {
    width: 50%;
    height: 40%;
}

#btn_new_topic2 {
    margin-left: 71%;
    margin-top: 120px;

    background-color: #78909C;
    border: 1px solid transparent;
    border-bottom: 3px solid #37474F;
    color: #fff;
    display: inline-block;
    width: 270px;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    text-shadow: 1px 1px 0px #283744;
    font-size: 11pt;
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: bold;
}

#btn_new_topic3 {
    margin-left: 71%;
    margin-top: 80px;

    background-color: #78909C;
    border: 1px solid transparent;
    border-bottom: 3px solid #37474F;
    color: #fff;
    display: inline-block;
    width: 270px;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    text-shadow: 1px 1px 0px #283744;
    font-size: 11pt;
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: bold;
}
.msg_send {
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-top: 3%;
    margin-right: auto;
    width: 600px;

    border-width:1px;
    border-style:inset;
    border-color:black;
    background-color: white;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .5) 0 1px 3px;
}
.msg_send p {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.msg_send a {
    text-decoration: none;
}
.msg_send h7 {
    padding-top: 5%;
    padding-bottom: 30px;
    text-align: center;
    font-size: 35px;
    font-family: century, arial,sans-serif;

}

#btn_see_msg {
    margin-top: 20px;

    background-color: #78909C;
    border: 1px solid transparent;
    border-bottom: 3px solid #37474F;
    color: #fff;
    display: inline-block;
    width: 270px;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    text-shadow: 1px 1px 0px #283744;
    font-size: 11pt;
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: bold;
}

.forum_top {
    width: 70%;
    padding-top: 70px;
    position: relative;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}

.arborescence {
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    background-color: #78909C;
    border: 1px solid transparent;
    border-bottom: 3px solid #37474F;
    color: #fff;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    text-shadow: 1px 1px 0px #283744;
    font-size: 11pt;
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: bold;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .5) 0 1px 3px;
}
.arborescence a {
    text-decoration: none;
    color: white;
}
.forum_top_r_button {
    float: right;
}
#btn_new_topic {
    background-color: #78909C;
    border: 1px solid transparent;
    border-bottom: 3px solid #37474F;
    color: #fff;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    text-shadow: 1px 1px 0px #283744;
    font-size: 11pt;
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: bold;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .5) 0 1px 3px;
}