#bloc_page_profil
{
    padding-top: 45px;
    margin-left: 20%;
    background-image: url("pattern-5jn1.png");
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.body_profil
{
    background-color: #F8F8F8;
    color:#404040  ;
}

#bloc1
{
    width:227px;
}

#bloc_identité
{
    width:235px;
    position : fixed;
    margin-top: 245px;
    padding-top: 50px;

}

#article2
{
    border:1px rgba(0,0,0,0.5) solid;
    display:block;
    background-color: white;
    border-radius: 5px;
    
    
}



#article1,.Norma.jpg img
{
    
    vertical-align: top;
}

#commentaires
{
    text-decoration: underline;
    font-size: 1.2em;
    color:#FF6666;
}

#apropos
{
    margin-left: 35px;
    text-decoration: underline;
    font-size: 1.2em;
    color:#FF6666;
}

#bloc_commentaires
{
    margin-left: 350px;
    margin-top:0px;
}

#barre1
{
    margin-top: 10px;
}

#barre2
{
    margin-top: 10px;
}



.nom
{
    margin-left: 14px;
    font-size: 1em;
    margin-top: -3px;
}

#com1,#com2,#com3
{

    font-size:1.3em;
    width: 500px;
    float:right;
}

.homme.jpg img
{
    margin-left:300px;
}

#Identification,#commentaires
{
    display:inline-block;
}

h2
{
    font-size: 1.2em;
}

#Presentation
{
    font-size:0.8em;
    text-align:justify;
    line-height: 20px;
    width:740px;
}

#Paris
{
    font-size:0.7em;
    margin-left:30px;
    margin-top: -20px;
}


#Identification
{
    
    font-family: century;
    font-size: 1em;
    border:1px rgba(0,0,0,0.2) solid;
    background-color: rgba(189, 195, 199,0.3);
    text-align: center;
    width: 231px;
height: 30px;
margin-top: 0px;
padding-top: 10px;

}

#Salutations
{
    display:block;
    font-size:1.5em;
    position : fixed;
    padding-top: 50px;
    margin-left: 10px;
}

#article1
{
    text-align: center;
    position: relative;
    top:-15px;
}

#Bonjour
{
    font-size: 1.2em;
    font-family: century;
    color:#16a085;
    padding-left: 15px;
}

.profil

{
    
    width: 180px;
    height: 180px;
    display: inline;
    margin-left: 19px;
   
     border-radius:150px;
    

}

#a_propos

{
    padding-left: 15px;
    padding-right: 15px;

}

#bloc2

{
    padding-top: 0px;
}

#Description3
{
    margin-top: 0px;
    width: 700px;
    border-radius: 5px;
    padding-bottom: 10px;
    background-color: rgba(250, 250, 250, .05);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 1px 3px;
    padding-top: 10px;
    padding-bottom: 100px;
    font-size: 1.1em;


}

#Description4
{
    margin-top: 0px;
    width: 800px;
  
    border-radius: 5px;
    padding-bottom: 10px;
      background-color: rgba(250, 250, 250, .05);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 1px 3px;
    padding-top: 10px;
  
    

    font-size: 1.1em;


}
.bloc_profil_gauche {

}
#Titre2

{
    text-align: center;
    font-size: 1.2em;
    font-family: century;
    color:rgba(26, 188, 156,1.0);

}

.cadre
 {
    border-width:1px;
    border-color:black;
    background-color: white;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .5) 0 1px 3px;
    height: 200px;
    position: relative;
    width: 700px;
 }

 .right {
    position: absolute;
    padding-left: 325px;
    height: 200px;
    padding-top: 6%;
}

.right a:link {
    /* color: #2c3e50; */
    text-decoration:none; 

}
.right a:visited {color: #2c3e50;}

.right a:hover {
    color: #34495e;
    text-decoration:underline;
}
.right a:active {color: #bdc3c7;}

.right span {

}

.photo

{
 box-shadow: rgba(0, 0, 0, 0.04) 0 20px 6px;

}

.end2 {
    width: 350px;
    padding-top: 3px;
    padding-bottom: 7px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #c20312;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    position: absolute;
}

.end2 a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-family: century,arial,sans-serif;
}
