
/* Clearfix */
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
@font-face {
    font-family: 'Sinkin';
    src: url('Sinkin.otf');
}
@font-face {
    font-family: "Numberfont";
    src: url("../fonts/numberfont/number_font.eot");
    src: url("../fonts/numberfont/number_font.eot?#iefix") format("embedded-opentype"), url("../fonts/numberfont/number_font.woff") format("woff"), url("../fonts/numberfont/number_font.ttf") format("truetype"), url("../fonts/numberfont/number_font.svg#EntypoRegular") format("svg");
}

/* Basic Styles */
body {
    margin: 0;

}
nav {
	height: 40px;
	width: 100%;

	background-color: rgba(0,0,0,0.66);

	font-size: 11pt;
	font-family: Arial, sans-serif;
	font-weight: bold;
	position: relative;


}
nav ul {
    text-align: center;
	margin: 0 auto;
	height: 40px;
    margin-right: 50px;
}
nav li {
	display: inline-block;
    text-align: center;
}
nav a {
	color: #fff;
	display: inline-block;
	width: 150px;
	text-align: center;
	text-decoration: none;
	line-height: 40px;
	text-shadow: 1px 1px 0px #283744;
}
nav li a {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
nav li:last-child a {
	border-right: 0;
}


nav a:hover, nav a:active {
	color: rgb(191, 185, 193);
	
}
.recherche_avancee {
    width: 180px;
}
nav a#pull {
	display: none;
}

.btn_FAQ {
    width: 75px;
    padding-left: 10px;
}

.btn_FORUM {
    width: 100px;
}
.btn_SECONNECTER {
    width: 120px;
}
.btn_PROFIL {
    width: 100px;
}
.btn_MESSAGES {
    width: 120px;
}
.btn_MESSAGES_NEW {
    width: 120px;
    margin-left: 10px;
}
.numberfont {
    border-radius:50%;
    background: crimson;
    border:2px solid #ffffff;
    display: inline-block;
    font-family: "number_font";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    font-size: 110%;
}
/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
}*/
@media only screen and (min-width : 949px) {
    .accueil {
        height: 27px;
        position: fixed;
    }

    .btn_ACCUEIL {
        display: none;
    }

    .lienaccueil {
        width: 40px;
        cursor: pointer;
        height: 20px;
        padding-right: 150px;
    }

    .lienaccueil:hover, .lienacueil:active {
        color: rgb(191, 185, 193);
    }

}

@media only screen and (max-width : 949px) {
    .accueil {
        display: none;
    }

    .btn_ACCUEIL {
        width: 97px;
    }
    .lienaccueil {
        display: none;
    }

    .lienaccueil:hover, .lienaccueil:active {
        color: rgb(191, 185, 193);
    }

}
@media only screen and (min-width : 949px) {
    .drapeau {
        height: 20px;
        position: fixed;
    }

    .liendrapeau {
        width: 40px;
        cursor: pointer;
        height: 14px;
    }

    .liendrapeau:hover, .liendrapeau:active {
        color: rgb(191, 185, 193);
    }

}

@media only screen and (max-width : 949px) {
    .drapeau {
        display: none;
    }

    .liendrapeau {
        display: none;
    }

    .liendrapeau:hover, .liendrapeau:active {
        color: rgb(191, 185, 193);
    }

}