.wood {
    background-image: url('../walls/wood.jpg');
}
.cadre {
    position: relative;
    width: 920px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 145px;

    border-width: 1px;
    border-style: inset;
    border-color: black;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .5) 0 1px 3px;
}
.contentg {
    position: absolute;
    margin-bottom: 100px;
    width: 30%;
    background-color: #E0E0E0;
    height: 700px;
    box-shadow: inset 0 0 2px #1c1a19;
    border-radius: 4px 0 0 4px;
}
.contentd1 {
    position: absolute;
    margin-bottom: 100px;
    padding-left: 30%;
    width: 35%;
}
.contentd2 {
    position: absolute;
    margin-bottom: 100px;
    right: 0;
    width: 35%;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.signup_form1 {
    position: relative;
    color: #1c1a19;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    font-size: 11pt;
    font-family: century, arial,sans-serif;
    background-color: #F5F5F5;
    height: 580px;

    padding-top: 120px;
}
.signup_form2 {
    position: relative;
    color: #1c1a19;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    font-size: 11pt;
    font-family: century, arial,sans-serif;
    background-color: #F5F5F5;
    height: 600px;

    padding-top: 100px;
}

.foot {
    position: relative;
    color: #fff;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    text-shadow: 1px 1px 0px #283744;
    font-size: 11pt;
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: bold;
}

.foot a {
    text-decoration: none;
    color: #fff;
}

#btn_envoyer {
    background-color: #78909C;
    border: 1px solid transparent;
    border-bottom: 3px solid #37474F;
    color: #fff;
    display: inline-block;
    width: 150px;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    text-shadow: 1px 1px 0px #283744;
    font-size: 11pt;
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: bold;
}
@media only screen and (max-width : 1400px) {
    .content {
        margin-top: 150px;
        margin-left: auto;
        margin-right: auto;
    }

@media only screen and (max-width : 500px) {
    .content {
        margin-top: 150px;
        margin-left: auto;
        margin-right: auto;
    }