

.less.active .button-read-more, .button-read-less  {display: none}

.less.active .button-read-less {display: block}

.more {margin-top: 10px}

.more p {margin: 0;padding: 0}



.FAQ_tableau
{
margin-left: 8%;
width: 45%;
float: left;
background-color: white;
}

.FAQ_tableau2
{
margin-left: 58%;
margin-top: 8%;
width: 40%;
background-color: white;

}

.FAQ_tableau3
{
margin-left: 8%;
width: 45%;
float: left;
background-color: white;
}

.FAQ_tableau4
{
margin-left: 58%;
width: 40%;
background-color: white;

}

.loupe
{
	width: 250px;
	height: 150px;
	float: left;
}

.Titre_article
{
	font-size: 25px;
	padding-left: 10px;
	font-weight: 300;
	font-family: sans-serif;

}

.contenu_article2
{
	padding-left: 260px;

}

.Tableau_rangee1
{
	height: 200px;
}

.Tableau_rangee2
{
	height: 200px;
}

.Tableau_rangee3
{
	height: 200px;
}

.superglobal2
{
	margin-bottom: 40px;
}