/* Utile si boutons au carroussel
.navigation
{
	position:absolute;
	bottom:300px;
	right:5px;
}
.navigation span
{
	background: #000;
	color: #fff;
	padding: 4px 4px;
}
.navigation span:hover,.navigation span.active
{
	background: #fff;
	color: #000;
	cursor:pointer;
}*/

.menu_respo {
    position: fixed;
    top: 0px;
    z-index: 100000;
    width: 100%;
}

#slide1
{

    background-image: url('../walls/wall7cmp.jpg');

}
.slide
{
    height: 580px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    background-color: #CFD8DC;
    padding-top: 7%;
}
#slide2
{
    background-image: url('../walls/wall2cmp.jpg');
}
#slide3
{
    background-image: url('../walls/wall3cmp.jpg');
}
#slide4
{
    background-image: url('../walls/wall4cmp.jpg');
}
#slide5
{
    background-image: url('../walls/wall5cmp.jpg');
}

*/

/*
#bkcolor
{
	background-color: rgba(255,255,0,0.3);
	height: 1024px;
	width: 100%;
	position: absolute;
	top: 86.5px;
}
*/

#partie2

{
    display: inline-block;
    top:1000px;
    background-color: rgba(236, 240, 241,1.0);
}

#partie1 h1
{
    text-align: center;
    padding-top: 150px;
    width: 100%;
    font-size: 90px;
    text-shadow: 0px 0px 30px black;
    margin: 0px;
    font-family: Calibri;
    color: white;
}
#recherche_simple
{
    position: relative;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
    border-radius: 5px;
    width: 60%;
    height: 40px;
    font-size: 30px;
}
@media only screen and (max-width : 1720px) {
    #recherche_simple {
        margin-top: 7%;
    }
}
#bloc_page
{

    margin: auto;
    top: 86px;
}

#partie2
{
    background-color: #CFD8DC;
}
.h2_p2 {
    background-color: #455A64;
    margin: 0px;
    color: #ffffff;
    font-family: Calibri;
    font-size: 40px;
    text-align: center;
    height: 125px;
}
.h2_p2 p {
    margin: 0px;
    position: relative;
    padding-top: 35px;
}
.html5_logo {
    width: 800px;
    margin-bottom: 40px;
    margin-top: 40px;
}


#partie2, h2 h3
{
    text-align: center;
    color: #ffffff;
    text-shadow: 0px 0px 5px black;
}

@media only screen and (max-width : 900px) {
    #partie1 h1{
        text-align: center;
        padding-top: 150px;
        width: 100%;
        font-size: 60px;
        text-shadow: 0px 0px 30px black;
        margin: 0px;
        font-family: Calibri;
        color: white;
    }
    #recherche_simple
    {
        position: relative;
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 10%;
        border-radius: 5px;
        width: 60%;
        height: 40px;
        font-size: 30px;
    }
    .html5_logo {
        width: 700px;
        margin-bottom: 40px;
        margin-top: 40px;
    }
}

@media only screen and (max-width : 765px) {
    #partie1 h1{
        text-align: center;
        padding-top: 150px;
        width: 100%;
        font-size: 40px;
        text-shadow: 0px 0px 30px black;
        margin: 0px;
        font-family: Calibri;
        color: white;
    }
    .h2_p2 {
        margin: 0px;
        color: #ffffff;
        font-family: Calibri;
        font-size: 25px;
        text-align: center;
        height: 105px;
    }
    /*   #partie1
       {
           height: 450px;
           width: 100%;
           background-image: url('wall7.jpg');
           background-repeat: no-repeat;
           background-size: cover;
           position: relative;
           background-color: rgba(189, 195, 199,1.0);
           padding-top: 7%;
       }
       */
    .html5_logo {
        width: 500px;
        margin-bottom: 40px;
        margin-top: 40px;
    }
}
@media only screen and (max-width : 765px) {
    .html5_logo {
        width: 300px;
        margin-bottom: 30px;
        margin-top: 40px;
    }
    .schema1 {
        margin: 0px;
    }
}
@media only screen and (max-width : 475px) {
    .h2_p2 {
        font-size: 20px;
    }
}

body
{
    margin: 0px;
    background-color: rgb(248,248,248);
}

.wrapper{
    width:100%;
    overflow: hidden;
    -webkit-perspective: 1000;
    padding-top: 3px;
}
.schema1 {
    height: 406px;
}
.carrousel{
    width: 100%;
    height: 400px;
    margin: 0 auto;
    -webkit-animation: Caroussel 50s infinite linear;
    -moz-transform-style: preserve-3d;
    -moz-animation: Caroussel 50s infinite linear;
}

.plan{
    position:absolute;
    height: 400px;
    width: 600px;
    text-align:center;
    font-size: 8em;
    color:#FFF;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
}
.w1 , .w2 , .w3 , .w4 , .w5 , .w6 , .w7 , .w8 {
    height: 400px;
    width: 600px;
    border-left: 5px ridge #CFD8DC;
}
@-webkit-keyframes Caroussel{

    from { -webkit-transform: translateX(-2900px); }
    to { -webkit-transform: translateX(0px); }
}

@-moz-keyframes Caroussel{

    from { -moz-transform: translateX(-2500px); }
    to { -moz-transform: translateX(0px); }
}

.p8{ -webkit-transform: translateX(0px)}
.p7{ -webkit-transform: translateX(600px)}
.p6{ -webkit-transform: translateX(1200px)}
.p5{ -webkit-transform: translateX(1800px)}
.p4{ -webkit-transform: translateX(2400px)}
.p3{ -webkit-transform: translateX(3000px)}
.p2{ -webkit-transform: translateX(3600px)}
.p1{ -webkit-transform: translateX(4200px)}

.p8{ -moz-transform: translateX(0px)}
.p7{ -moz-transform: translateX(600px)}
.p6{ -moz-transform: translateX(1200px)}
.p5{ -moz-transform: translateX(1800px)}
.p4{ -moz-transform: translateX(2400px)}
.p3{ -moz-transform: translateX(3000px)}
.p2{ -moz-transform: translateX(3600px)}
.p1{ -moz-transform: translateX(4200px)}