

.less.active .button-read-more, .button-read-less  {display: none}

.less.active .button-read-less {display: block}

.more {margin-top: 10px}

.more p {margin: 0;padding: 0}



.FAQ_tableau
{
margin-left: 2%;
width: 48%;
float: left;
background-color: white;
border-radius: 4px;
box-shadow: rgba(0, 0, 0, .5) 0 1px 3px;

}

.FAQ_tableau2
{
margin-left: 51%;
margin-top: 6%;
width: 48%;
background-color: white;
min-height: 150px;
border-radius: 4px;
box-shadow: rgba(0, 0, 0, .5) 0 1px 3px;

}

.FAQ_tableau3
{
margin-left: 2%;
width: 48%;
float: left;
background-color: white;
border-radius: 4px;
box-shadow: rgba(0, 0, 0, .5) 0 1px 3px;

}

.FAQ_tableau4
{
margin-left: 51%;
width: 48%;
background-color: white;
position: 	absolute;
border-radius: 4px;
box-shadow: rgba(0, 0, 0, .5) 0 1px 3px;

}

.loupe
{
	width: 250px;
	height: 150px;
	float: left;
}

.Titre_article
{
	font-size: 25px;
	padding-left: 10px;
	font-weight: 300;
	font-family: sans-serif;

}

.contenu_article2
{
	padding-left: 260px;

}

.Tableau_rangee1
{
	min-height: 160px;
	margin-bottom: 20px;
}

.Tableau_rangee2
{
	min-height: 160px;
	margin-bottom: 20px;
}

.Tableau_rangee3
{
	min-height: 270px;
}

.superglobal2
{
	margin-bottom: 40px;
}