.formulaire_r_avancee {
    position: relative;
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 0px #283744;
    font-size: 11pt;
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: bold;
    padding-top: 5%;
}