.menu_respo {
    position: fixed;
    top: 0px;
    z-index: 100000;
    width: 100%;
}

#partie1
{
    height: 580px;
    width: 100%;
    background-image: url('wall2.jpg');
    background-repeat: no-repeat;
    background-size: 2000px;
    background-position: bottom;
    position: relative;
    background-color: rgba(22, 160, 133,1.0);
    padding-top: 7%;
}

/*
#bkcolor
{
	background-color: rgba(255,255,0,0.3);
	height: 1024px;
	width: 100%;
	position: absolute;
	top: 86.5px;
}
*/

#partie1 h1
{
    text-align: center;
    padding-top: 150px;
    width: 100%;
    font-size: 90px;
    text-shadow: 0px 0px 30px black;
    margin: 0px;
    font-family: Calibri;
    color: white;
}
#recherche_simple
{
    position: relative;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
    border-radius: 5px;
    width: 60%;
    height: 40px;
    font-size: 30px;
}
@media only screen and (max-width : 1720px) {
    #recherche_simple {
        margin-top: 7%;
    }
}
#bloc_page
{

    margin: auto;
    top: 86px;
}

#partie2 {
    background-color: #DCEDC8;

}
.h2_p2 {
    background-color: rgba(22, 160, 133,1.0);
    margin: 0px;
    color: #ffffff;
    font-family: Calibri;
    font-size: 40px;
    text-align: center;
    height: 125px;
}
.h2_p2 p {
    margin: 0px;
    position: relative;
    padding-top: 35px;
}
.html5_logo {
    width: 800px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.schema1 {
    margin: 40px;
}
#partie2, h2 h3
{
    text-align: center;
    color: #ffffff;
    text-shadow: 0px 0px 5px black;
}

@media only screen and (max-width : 900px) {
    #partie1 h1{
        text-align: center;
        padding-top: 150px;
        width: 100%;
        font-size: 60px;
        text-shadow: 0px 0px 30px black;
        margin: 0px;
        font-family: Calibri;
        color: white;
    }
    #recherche_simple
    {
        position: relative;
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 10%;
        border-radius: 5px;
        width: 60%;
        height: 40px;
        font-size: 30px;
    }
    .html5_logo {
        width: 700px;
        margin-bottom: 40px;
        margin-top: 40px;
    }
}

@media only screen and (max-width : 765px) {
    #partie1 h1{
        text-align: center;
        padding-top: 150px;
        width: 100%;
        font-size: 40px;
        text-shadow: 0px 0px 30px black;
        margin: 0px;
        font-family: Calibri;
        color: white;
    }
    .h2_p2 {
        margin: 0px;
        color: #ffffff;
        font-family: Calibri;
        font-size: 25px;
        text-align: center;
        height: 105px;
    }
    #partie1
    {
        height: 450px;
        width: 100%;
        background-image: url('wall6.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        background-color: rgba(22, 160, 133,1.0);
        padding-top: 7%;
    }
    .html5_logo {
        width: 500px;
        margin-bottom: 40px;
        margin-top: 40px;
    }
}
@media only screen and (max-width : 765px) {
    .html5_logo {
        width: 300px;
        margin-bottom: 30px;
        margin-top: 40px;
    }
    .schema1 {
        margin: 0px;
    }
}
@media only screen and (max-width : 475px) {
    .h2_p2 {
        font-size: 20px;
    }
}
footer {
    padding-top: 20px;
}

body
{
    margin: 0px;
    background-color: rgba(22, 160, 133,0.7);
}

