body

{
	background-color: rgb(248,248,248) ;

}

.recherche
{
	padding-top: 50px;
	background-color: rgb(248,248,248) ;
	padding-left: 30px;
	padding-right: 30px;
}

.cadre
 {
 border-width:1px;
 border-style:inset;
 border-color:black;
padding :10px;

 }


.cadre a:link {
	color: #2c3e50;
	text-decoration:none; 

}
.cadre a:visited {color: #2c3e50;}

.cadre a:hover {
	color: #34495e;
	text-decoration:underline;
}
.cadre a:active {color: #bdc3c7;}



