.formulaire_connexion {
    position: absolute;
    margin-top: 7%;
    margin-left: 43%;
}

.formulaire_connexion #username_form {
    text-align: center;
}

.formulaire_connexion #btn_connexion {

    background-color: #17b09c;
    border: 1px solid transparent;
    border-bottom: 3px solid #569997;
    color: #fff;
    display: inline-block;
    width: 150px;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    text-shadow: 1px 1px 0px #283744;
    font-size: 11pt;
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: bold;

}

.formulaire_connexion .center {
    position: relative;
    color: #fff;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    text-shadow: 1px 1px 0px #283744;
    font-size: 11pt;
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: bold;
}

@media only screen and (max-width : 450px) {
    .formulaire_connexion {
        position: absolute;
        margin-top: 7%;
        margin-left: 28%;
    }